[user]
	name = renxuan.zhang
	email = renxuan.zhang@nio.com

[diff]
	tool = meld

[difftool "meld"]                                           
    path = C:\\Program Files (x86)\\Meld\\meld.exe
    keepBackup = false                                   
    trustExitCode = false

[difftool "sourcetree"]
	cmd = 'C:/Program Files/TortoiseGit/bin/TortoiseGitMerge.exe' \"$LOCAL\" \"$REMOTE\"

[merge]                                                      
	tool = meld

[mergetool "meld"]                                           
    path = C:\\Program Files (x86)\\Meld\\meld.exe
    keepBackup = false                                   
    trustExitCode = false

[mergetool "sourcetree"]
	cmd = 'C:/Program Files/TortoiseGit/bin/TortoiseGitMerge.exe'  -base:\"$BASE\" -mine:\"$LOCAL\" -theirs:\"$REMOTE\" -merged:\"$MERGED\"
    keepBackup = false                                   
	trustExitCode = true

[core]
	excludesfile = ~/.gitglobalignore
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	sm = submodule
	dirdiff = difftool --dir-diff
	sdiff = !git diff && git submodule foreach 'git diff'
	sdirdiff = !git difftool --dir-diff && git submodule foreach 'git difftool --dir-diff'
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	flg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches --tags --remotes
[difftool "bc3"]
	path = c:/Program Files/Beyond Compare 4/bcomp.exe
[mergetool "bc3"]
	path = c:/Program Files/Beyond Compare 4/bcomp.exe
